.NavBar {
    height: 56px;
    width: 100%;
    font-size: 16px;
    background-color: #000;
    color: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLinks {
    display: flex;
    align-items: center;
    gap: 4px;
}

.brand {
    font-size: 20px;
    line-height: 30px;

    display: flex;
    align-items: center;
    gap: 4px;
}

@media (min-width: 960px) {
    .NavBar {
        height: 64px;
    }

    .navLinks {
        gap: 12px;
    }

    .brand {
        gap: 12px;
    }
}