.SearchBar {
    height: 75%;
    background-color: #1e1e1e;
    border-radius: 24px;
    padding: 0 24px;
    width: 33.3%;   /* TODO: flex-grow/shrink for better use of space */

    display: flex;
    align-items: center;
    gap: 4px;
}

.searchInput {
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: inherit;
    font-size: inherit;
    color: inherit;
    outline: none;
    font-family: inherit;
}

.searchInput::placeholder {
    color: #bcbcbc;
}

@media (min-width: 960px) {
    .SearchBar {
        max-width: 33.3%;
    }
}